// susy setup ----------------------------------------------
$susy: (
	columns: 16,
	container: 1140px,
	debug: (image: hide),
	global-box-sizing: border-box
);

@include border-box-sizing;

$small	: 5em;
$medium	: 31em;
$large	: 56em;



.wrap, .contents {
	@include container();
}

/* ---------------------------------------------
Small --> Medium
-----------------------------------------------*/
@include susy-breakpoint($small $medium, 16) {

	.menu {
		@include span(2);
	}

	nav {
		@include span(13 last);

		.left-actions {
		  @include span(10);
		}

		.right-actions {
			@include span(4 last);
		}
	}

	.banner {
		font-size: 2.2rem;
		height: 180px;
	}//banner

	.input-text {
		@include span(10);
		margin-left: 20px;
	}//input-text

	.btn-group {
		@include span(6 last);
	}//btn-group

	.submit-btn, .drop-down-btn {
		font-size: .9rem;
	}//submit-btn, drop-down-btn

	.process-results {
		padding: 50px 30px;
	}//process-results

	.download-options {
		width: 150px;
	}//download-options

}// $small --> $medium


/* ---------------------------------------------
Medium --> large
-----------------------------------------------*/
@include susy-breakpoint($medium $large, 16) {

	.banner {
		font-size: 3rem;
		height: 240px;
	}//banner
	
	.menu {
		@include span(2);
	}//menu

	nav {
		@include span(13 last);

		.left-actions {
		  @include span(10);
		}//left-actions

		.right-actions {
			@include span(4 last);
		}//right-actions
	}//nav

	.input-text {
		@include span(12);
	}//input-text

	.process-results {
		padding: 80px 30px;
	}//process-results
	
	.download-options {
		width: 420px;
	}//download-options


}// $medium --> $large

/* ---------------------------------------------
large
-----------------------------------------------*/
@include susy-breakpoint($large, 16) {

	.banner {
		font-size: 3rem;
		height: 240px;
	}//banner

	.menu {
		@include span(2);
	}//menu

	nav {
		@include span(13 last);

		.left-actions {
		  @include span(10);
		}//left-actions

		.right-actions {
			@include span(4 last);
		}//right-actions
	}//nav

	.input-text {
		@include span(13);
	}//input-text
	
	.process-results {
		padding: 50px 100px;
		line-height: 30px;
	}//process-results

	.download-options {
		width: 420px;
	}//download-options

	.download-options-container {
		height: 300px;
		line-height: 200px;
	}//download-options-container

}// $medium 