// susy setup ----------------------------------------------
$susy: (
	columns: 16,
	container: 1140px,
	debug: (image: hide),
	global-box-sizing: border-box
);

.wrap, .contents {
	@include container();
}

